html {
    color: dodgerblue;
}

h2 {
    text-align: center;
}

.prizeCard {
    height: 200px;
    width: 150px;
    border: solid 1px;
    text-align: center;
    
}
.customerCard {
    height: 200px;
    width: 150px;
    border: solid 1px;
    text-align: center;
    
}

#prizeList {
/* 
Good use of flexbox! No need to display flex twice, though.
 */    
    display: flex;
    display: flex;
    justify-content: center;
}
#customerList {
    display: flex;
    display: flex;
    justify-content: center;
}

ul {
    display: flex;
    flex-direction: column;
    list-style: none;
}

li {
    display: flex;
    justify-content: space-between;
}